{% extends 'WebPageBundle:Layout:layout.html.twig' %}
{% block PAGE_LEVEL_STYLES %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/web/user/css/register.css')}}">
{%endblock%}

{% block body %}
<div class="row" id='register-form-container-bg'>
	<div  class="form col-md-4 col-md-offset-4">
		{{form_start(formView)}}
			<div id="register-form-title">用户注册</div>
			<div class="form-body">
					<div class='form-group'>
						{{form_label(formView.email)}}
						<div class="col-md-8">
							{{form_widget(formView.email)}}
						</div>
					</div>
					<div class='form-group'>
						{{form_label(formView.password)}}
						<div class="col-md-8">
						{{form_widget(formView.password)}}
						</div>
					</div>
					<div class='form-group'>
						{{form_label(formView.confirm_password)}}
						<div class="col-md-8">
						{{form_widget(formView.confirm_password)}}
						</div>
					</div>
					<div class='form-group'>
						{{form_label(formView.nickname)}}
						<div class="col-md-8">
						{{form_widget(formView.nickname)}}
						</div>
					</div>
					<div class='form-group'>
						{{form_label(formView.cellphone)}}
						<div class="col-md-8">
						{{form_widget(formView.cellphone)}}
						</div>
					</div>
					<div class='form-group'>
						{{form_label(formView.capcha)}}
						<div class="col-md-5">
							{{form_widget(formView.capcha)}}
						</div>
						<div class="col-md-3">
							<button type="button" class="btn green">获取验证码</button>
						</div>
					</div>
					<div class="form-group text-center">
						<input name="article" type="checkbox" wx-validator-article-nocheck="true">
						<label class=""  wx-validator-rule="required">阅读并同意众投社的
							<a href="/terms/join" class="pass-red" target="_blank">《服务协议》</a>
						</label>
		 				<span id="wx-validator-article-nocheck" style="color:red;display:none;">请先阅读我</span>
					</div>
					
			</div><!--form_body end-->
			<div class="form-actions text-center">
					<button type="button" class="btn green">注册众投社</button>
			</div>
		{{form_end(formView)}}
	</div>
</div><!-- row end -->
{% endblock %}
