{% extends 'WebPageBundle:Layout:layout.html.twig' %}
{% block page_level_css %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/web/user/css/login.css')}}">
{%endblock%}

{% block body %}

<!-- content static -->
<div  class="pass-bg">
	<div  class="pass-box wid390">
		<div  class="pass-title">用户注册</div>
			{{form_start(formView)}}
			<p class="form-item clearfix">
				{{form_label(formView.email)}}
				{{form_widget(formView.email)}}
			</p>
			<p class="form-item clearfix">
				{{form_label(formView.password)}}
				{{form_widget(formView.password)}}
			</p>
			<p class="form-item clearfix">
				{{form_label(formView.confirm_password)}}
				{{form_widget(formView.confirm_password)}}
			</p>
			<p class="form-item clearfix">
				{{form_label(formView.nickname)}}
				{{form_widget(formView.nickname)}}
			</p>
			<p class="form-item clearfix">
				{{form_label(formView.cellphone)}}
				{{form_widget(formView.cellphone)}}
			</p>
			<p class="form-item clearfix">
				{{form_label(formView.capcha)}}
				{{form_widget(formView.capcha)}}
				<a id="getValid" href="#"  class="btn-getCode" >获取</a>
			</p>
			<p class="form-item form-item-member  mar-l75 clearfix">
				<input name="article" type="checkbox" wx-validator-article-nocheck="true">
				<label class=""  wx-validator-rule="required">阅读并同意原始会的<a href="/terms/join" class="pass-red" target="_blank">《服务协议》</a></label>
 <span id="wx-validator-article-nocheck" style="color:red;display:none;">请先阅读我</span>
			</p>
			<p class="form-item  clearfix">
				<label class="reg-lable"></label>
				<a type="submit" href="#"  class="btn-submit" >注册</a>
			</p>
		{{form_end(formView)}}
	</div>
</div>
<!-- content end -->
{% endblock %}
